{
  	"plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        "transform-runtime",
		"transform-decorators-legacy",
		"transform-class-properties"
  	],
    "presets": [
        ["es2015", {"loose": true, "modules": false}],
        ["react"]
    ],
    "env": {
    	"development": {
    		"plugins": [
    			"react-hot-loader/babel"
    		]
    	}
    }
}
