{
  	"plugins": [
  		"transform-decorators-legacy"
  	],
    "presets": [
        ["es2015", {"loose": true, "modules": false}],
        ["react"]
    ],
    "env": {
    	"development": {
    		"plugins": [
    			"react-hot-loader/babel"
    		]
    	}
    }
}