@charset "utf-8";
@import"../../../css/common/common";
@import"../../../css/common/reset";
@import"../../../css/sprites/list_s";

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f8f9fb;
}

.ios .cm-page-wrap {
	height: 100%;

	> div {
		height: 100%;

		> div {
			height: 100%;
		}
	}

	.cm-page {
		height: 100%;
	}

	.cm-content {
		position: relative;
		height: 100%;
	}

	.content-wrap {
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    overflow: auto;
	}
}