@charset "UTF-8";

@import "css/common/common.css";
@import "css/common/reset.css";

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f8f9fb;
}

.content-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
}

.logo_news {
	margin-top: 100px;
}
