/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.icon-icon {
  background-image: url(~list.png);
  background-position: 0px -31px;
  background-size: 119px 52px;
  width: 119px;
  height: 21px;
}
.icon-logo-news {
  background-image: url(~list.png);
  background-position: 0px 0px;
  background-size: 119px 52px;
  width: 119px;
  height: 30px;
}
