/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_name = 'icon';
$icon_x = 0px;
$icon_y = 70px;
$icon_offset_x = 0px;
$icon_offset_y = -70px;
$icon_width = 238px;
$icon_height = 42px;
$icon_total_width = 238px;
$icon_total_height = 112px;
$icon_image = '~list.png';
$icon = 0px 70px 0px -70px 238px 42px 238px 112px '~list.png' 'icon';
$logo_news_name = 'logo-news';
$logo_news_x = 0px;
$logo_news_y = 0px;
$logo_news_offset_x = 0px;
$logo_news_offset_y = 0px;
$logo_news_width = 238px;
$logo_news_height = 60px;
$logo_news_total_width = 238px;
$logo_news_total_height = 112px;
$logo_news_image = '~list.png';
$logo_news = 0px 0px 0px 0px 238px 60px 238px 112px '~list.png' 'logo-news';
$spritesheet_width = 238px;
$spritesheet_height = 112px;
$spritesheet_image = '~list.png';
$spritesheet_sprites = $icon $logo_news;
$spritesheet = 238px 112px '~list.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
